body, h1, h2, h3, p {
	font-family: Oswald, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

body {
	margin: 0 auto;
}

header.page-header > h1 {
	
}

header.page-header > nav > ul {
	
}

article.post {
	margin-bottom: 70px;
}

div.date-header {
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	font-style: italic;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

h2.title {
	margin: 20px 0;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
}

h2.title > a {
	text-decoration: none;
}

article.post > footer {
	margin-top: 50px;
}