!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :http_equiv => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %title= [@title, "Padrino Sample Blog"].compact.join(" | ")
    %meta{ :name => 'description', :content => '' }
    %meta{ :name => 'viewport', :content => 'width=device-width' }

    %link{ :href => '//fonts.googleapis.com/css?family=Salsa|Droid+Sans+Mono', :rel => 'stylesheet' }
    %link{ :href => '//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600', :rel => 'stylesheet' }

    %link{ :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', :rel => 'stylesheet' }
    %link{ :href => asset_path(:css, 'main'), :rel => 'stylesheet' }

    %script{ :src => '//upcdn.b0.upaiyun.com/libs/modernizr/modernizr-2.6.2.min.js' }

    = yield_content :include
  %body
    /[if lt IE 7]<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    .container
      %header.page-header.clearfix
        %h1.pull-left.text-hide
          %a{ :href => '/', :title => 'Home' }
            Pityboy
            #{image_tag('logo.png')}
        %nav.pull-right
          %h3 - Categories
          %ul.pull-left
            %li
            %li
        %nav.pull-right
          %h3 - Links
          %ul.pull-left
            %li
            %li

      = yield

    %script{ :src => 'https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' }
    %script{ :src => '//libs.baidu.com/jquery/2.0.0/jquery.min.js' }
    %script{ :type => 'text/x-mathjax-config' }
      :plain
        MathJax.Hub.Config({
          extensions: ["tex2jax.js"],
          jax: ["input/TeX", "output/HTML-CSS"],
          TeX: { equationNumbers: {autoNumber: "AMS"} }, 
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
          },
          "HTML-CSS": { availableFonts: ["TeX"] }
        });
